:root {
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --medium-grey-bright: rgb(97, 97, 97);
    --background-yellow-slicers: #ffce00;
}

.radio-input-container {
    display: block;
    position: relative;
    cursor: pointer;

    height: 14px;
    width: 14px;
}

.radio-input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-input {
    height: 100%;
    width: 100%;
    background-color: var(--grey-black);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-input-container:hover input ~ .radio-input {
    background-color: var(--grey-black-hover);
}

.radio-input::after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--background-yellow-slicers);
}

.radio-input-container input:checked ~ .radio-input::after {
    display: block;
}
