:root {
    --black-alt: #252424;
    --black-alt-hover: rgb(41, 41, 41);

    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    
    --medium-grey: #333;
    --medium-grey-hover: rgb(61, 61, 61);

    --medium-grey-alt: #242424;
    --medium-grey-alt-hover: #2c2c2c;

    --background-yellow-slicers: #ffce00;
}

.editor-background {
    background-color: var(--grey-black);
    
    height: calc(100% - 30px);
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/* side bar styles */
.side-bar {
    height: 100%;
    width: 40px;
    background-color: var(--medium-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* style sheet list styles */
.file-list {
    height: 100%;
    width: 200px;

    background-color: var(--black-alt);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.section-label { width: 100%; height: 30px; border-bottom: 2px solid var(--medium-grey); padding-bottom: 5px; }
.section-label > .file-list-header { margin: 6.6px 7px; font-size: 14px; }

.section-label-sub { width: 100%; min-height: 20px; }
.section-label-sub .file-list-header {
    background-color: transparent;
    border: none;
    outline: none;

    width: calc(100% - 31px);
    margin: 2.1px 7px;

    font-size: 14px;
    font-family: 'Eurofont';
    color: white;
    text-align: left;

    cursor: pointer;

    display: flex; flex-direction: row; align-items: center;
}
.section-label-sub .file-list-header:focus { border: none; outline: none; }
.section-label-sub > .section-open {
    height: auto;
    overflow: auto;
}

.existing-sheet {
    width: calc(100% - 28px);

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 28px;
}
.existing-sheet:hover {
    background-color: var(--medium-grey);
    cursor: pointer;
}
.existing-sheet div {
    margin-left: 7px;
    text-align: center;
    font-size: 14px;
}

.style-sheets-list {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.open-sheet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--grey-black);
    position: relative;
    z-index: 2;
}
.open-sheet-header {
    margin: 6.6px 7px;
    font-size: 14px;
    padding-bottom: 5px;
}
.needs-saving {
    margin-right: 12px;
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.needs-saving > .fa-circle { color: var(--background-yellow-slicers); }
.saved > .fa-circle { color: transparent; }

/* editor page styles */
.editor-container {
    height: 100%;
    width: calc(100% - 240px);
    position: relative;
}
.editor-content {
    z-index: 1;
    position: relative;
    width: 100%;
    height: calc(100% - 38.19px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.editor-content > .cm-editor {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
}
.editor-content > .cm-editor .cm-scroller {
    outline: none;
    border: none;
}

.under-shadow {
    width: 100%;
    height: 3px;

    background-color: rgba(8, 7, 7, 0.4);

    position: relative;
    z-index: 2;
}
.chevron-cont {
    width: 12px;
    height: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 7px;
}
.fas {
    color: white;
    font-size: 12px;
}
.fa-hashtag {
    font-size: 10px;
    color: rgb(25, 147, 196)
}