:root {
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    
    --grey-black-alt: #292929;
    --grey-black-alt-hover: #302e2e;

    --medium-grey: #333;
    --background-yellow-slicers: #ffce00;
}

.window-background {
    width: 100%;
    height: calc(100% - 30px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--grey-black);
}
.window-main {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-radius: 4px;
    background-color: var(--medium-grey);
}

.assets-folder-wrapper {
    width: calc(100% - 14px);
    height: 34px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input-field-label {
    font-size: 16px;
    font-weight: normal;
}
#assetsFolderInput {
    margin: 0px 7px;
    flex-grow: 1;
}
#outputFolderInput {
    flex-grow: 1;
    margin: 0px 7px;
    margin-left: 66px;
}

.changer-info-wrapper {
    margin-top: 14px;
    width: calc(100% - 14px);
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.options-wrapper {
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.backup-setting-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 22px;
}
.version-toggle-wrapper {
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.toggle-label {
    margin-right: 7px;
}

.file-changes {
    margin-top: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 194px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey-black);
}
.file-changes-body {
    margin-top: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 25px);

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.file-changes-options-cont {
    height: 18px;
    width: 100%;
    
    background-color: var(--grey-black-alt);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.file-change-btn {
    color: white;
    height: 18px;
    
    background-color: var(--grey-black-alt);
    border: none;
    outline: none;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28px;
}
.file-change-btn:hover {
    background-color: var(--grey-black-alt-hover);
    cursor: pointer;
}

.change-elem {
    background-color: var(--medium-grey);
    width: 100%;
    
    min-height: 26px;
    height: 26px;
    margin-bottom: 7px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.change-elem > div {
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 14px;
}
.remove-elem-wrapper {
    height: 18px;
    width: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}
.test-label {
    font-size: 16px;
    margin-right: 7px;
}

#loadedPresetPath { flex-grow: 1; }
.file-changer-actions-wrapper > button.browse-paths__button-alt { height: auto; font-family: 'Eurofont'; }
.file-changer-actions-wrapper > input.paths-field-input-alt { height: 16px; }

.file-changer-actions-wrapper {
    margin-top: 7px;
    width: calc(100% - 14px);
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.progress-bar-container {
    margin-top: 4px;
    padding: 1px 0px;
    height: 21px;
    width: 20px;

    border: 1px solid #000;
    border-radius: 2px;
    background-color: var(--grey-black);

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--background-yellow-slicers);
}

/* Modal classes */
.modal-background {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    background-color: var(--medium-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.error-modal-background {
    min-height: 140px;
    width: 280px;

    background-color: var(--grey-black);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-modal-background > .modal {
    min-height: calc(100% - 20px);
    margin: 10px 0px;
}
.information-display {
    font-size: 14px;
    padding: 0;
    margin-top: 7px;
    width: calc(100% - 14px);
    text-align: center;
}

.save-modal-background {
    height: 80px;
    width: 240px;

    background-color: var(--grey-black);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal input { margin-top: 7px; }

.modal-buttons-cont {
    margin-bottom: 7px;
    width: calc(100% - 14px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.modal-buttons-cont > button {
    width: auto;
}