@font-face {
    font-family: Eurofont;
    src: url("../../resources/fonts/Hayward-SmBd.eot");
    src: url("../../resources/fonts/Hayward-SmBd.eot?#iefix") format("embedded-opentype"), url("../../resources/fonts/Hayward-SmBd.woff2") format("woff2"), url("../../resources/fonts/Hayward-SmBd.woff") format("woff"), url("../../resources/fonts/Hayward-SmBd.ttf") format("truetype");
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--grey-black);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffce00;
}
::-webkit-scrollbar-corner { background: transparent; }

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
:root {
	--color-light: #2fa5d4;
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --background-yellow-slicers: #ffce00;
}

.viewer-window {
    font-family: 'Eurofont';
    background-color: var(--grey-black);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.element-border {
    border: 1px solid #000;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
}
.h2 {
    color: white;
    font-family: 'Eurofont';
    margin: 5px 5px;
    width: calc(100% - 10px);
    border-bottom: 1px solid #000;
}

.h2-container {
    color: white;
    margin: 5px 5px;
    width: calc(100% - 10px);
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.file-browser-header {
    color: white;
    margin: 0px;
    font-family: 'Eurofont';
}
.file-browser-header__buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.file-browser-header__button {
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 4px;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.file-browser-header__button:hover {
    pointer-events: all;
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.fbh__disabled {
    pointer-events: none;
    box-shadow: none;
    border: none;
    color: rgb(199, 199, 199);
}

.path-input-field-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.paths-field-input {
    background-color: var(--grey-black);
    color: white;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    height: 18px;
    min-width: 200px;
    margin-right: 5px;
}
.browse-paths__button {
    padding: 4px;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.browse-paths__button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}

.file-tree-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-tree-body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 6px;
    background-color: var(--medium-grey);
}
.file-tree-elements {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tree-elem {
    pointer-events: all;
    color: white;
    padding-left: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 5px);
}
.tree-elem-hover:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.tree-elem-text {
    padding-left: 5px;
}
.tree-elem-text__disabled {
    pointer-events: none !important;
    color: rgb(199, 199, 199);
}

.fa-ban {
    color: red;
}
.fa-folder {
    color: tan;
    transform: scaleY(1.07);
}
.fa-file {
    color: white;
}
.fa-ellipsis-h {
    color: white;
}

.model-view-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.model-view-body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: var(--medium-grey);
    border-radius: 6px;
}

.model-canvas-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	pointer-events: none;
}
.canvas-wrapper {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	pointer-events: none;
}
.canvas-overlay {
	display: flex;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	user-select: none;
	pointer-events: none;
	justify-content: flex-end;
}
.canvas-right-side__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.canvas-view-controls {
	display: grid;
	grid-template-rows: repeat(7, 20px);
	row-gap: 8px;
}

.canvas-view-controls__btn {
	pointer-events: auto;
	border-radius: 4px;
	border: 1px solid var(--color-light);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../../resources/img/squareBackgrounds.png) no-repeat top left;
	background-size: contain;
}
.canvas-view-controls__btn > img {
	max-width: 20px;
	max-height: 20px;
}
.control-btn-img {
	cursor: pointer;
}
.ctl-btn {
	pointer-events: auto;
	height: 34px;
	width: 180px;
	outline: none;
	padding: 0 5px;
	margin: 0;
	color: white;
	border: 1px solid #000;
	box-shadow: 1px 1px 2px rgb(0 0 0 / 35%);
	background-color: #1a1a1a;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Eurofont';
	font-size: 15px;
}
.ctl-btn:hover {
	cursor: pointer;
}


.data-view-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data-view-body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 6px;
    background-color: var(--medium-grey);
}
.data-view-container__data {
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.data-body {
    font-size: 14px;
    color: white;
    width: 100%;
    height: auto;
    overflow: scroll;
}
.data-info-section {
    padding-left: 5px;
    width: calc(100% - 10px);
}
.section-container {
    padding-left: 15px;
    width: calc(100% - 20px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow: hidden;
}
.data-label-field-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.data-label-field__icon {
    width: 13px;
    height: 13px;
    margin-bottom: 2px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-plus-square, .fa-minus-square {
    color: var(--background-yellow-slicers);
}
.data-label-field {
    font-size: 16px;
    width: 100%;
}
.data-label-field:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.data-info-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.data-info__name {
    margin-right: 10px;
}
.data-info__value {
    color: rgb(112, 209, 248);
}

.export-data-options-container {
    width: 100%;
    height: 30%
}
.data-options-body {
    width: calc(100% - 10px);
    height: calc(100% - 35px);
    margin-left: 5px;
}
.data-options-main {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}
.data-options-export {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.data-options-body .container-bottom__sub__btn {
    width: auto;
    margin-right: 7px;
    padding: 4px auto;
}
.data-options-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.option-name {
    color: white;
}
.option-data {
    margin-left: 7px;
}
input[type="color"] {
    appearance: auto;
    width: 40px;
    height: 20px;
    background-color: var(--grey-black);
    cursor: default;
    border: 1px solid #000;
    outline: none;
    padding: 1px 2px;
}
.data-field-input{
    width: 40px;
    background-color: var(--grey-black);
    color: white;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    height: 16px;
}
#modalColor {
    margin-left: auto;
}
#fovInput {
    margin-left: 10px;
}
.data-field-input:focus{
    border: 1px solid var(--background-yellow-slicers);
}