:root {
	--color-light: #2fa5d4;
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --medium-grey-bright: rgb(97, 97, 97);
    --background-yellow-slicers: #ffce00;
}

.file-browser-header {
    color: white;
    margin: 0px;
    font-family: 'Eurofont';
}
.file-browser-header__buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.file-browser-header__button {
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 4px;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.file-browser-header__button:hover {
    pointer-events: all;
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.fbh__disabled {
    pointer-events: none;
    box-shadow: none;
    border: none;
    color: rgb(199, 199, 199);
}

.file-tree-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-tree-body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 6px;
    background-color: var(--medium-grey);
    overflow: hidden;
}
.tree-list-container {
    width: 100%;
    height: calc(100% - 53px);
    overflow: scroll;
}
.file-tree-elements {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tree-elem {
    pointer-events: all;
    color: white;
    padding-left: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 5px);
}
.tree-elem-hover:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.tree-elem-text {
    padding-left: 5px;
}
.tree-elem-text__disabled {
    pointer-events: none !important;
    color: rgb(199, 199, 199);
}

.tree-list-container .fa-ban {
    color: red;
}
.tree-list-container .fa-folder {
    color: tan;
    transform: scaleY(1.07);
}
.tree-list-container .fa-file {
    color: white;
}
.fa-ellipsis-h {
    color: white;
}

.canvas-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	pointer-events: none;
}
.canvas-wrapper {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	pointer-events: none;
}
.canvas-overlay {
	display: flex;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	user-select: none;
	pointer-events: none;
	justify-content: flex-end;
}
.canvas-right-side__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.canvas-view-controls {
	display: grid;
	grid-template-rows: repeat(7, 20px);
	row-gap: 8px;
}

.canvas-view-controls__btn {
	pointer-events: auto;
	border-radius: 4px;
	border: 1px solid var(--color-light);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../../src/img/squareBackgrounds.png) no-repeat top left;
	background-size: contain;
}
.canvas-view-controls__btn > img {
	max-width: 20px;
	max-height: 20px;
}
.control-btn-img {
	cursor: pointer;
}
.ctl-btn {
	pointer-events: auto;
	height: 34px;
	width: 180px;
	outline: none;
	padding: 0 5px;
	margin: 0;
	color: white;
	border: 1px solid #000;
	box-shadow: 1px 1px 2px rgb(0 0 0 / 35%);
	background-color: #1a1a1a;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Eurofont';
	font-size: 15px;
}
.ctl-btn:hover {
	cursor: pointer;
}

.data-options-main {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}
.data-options-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

input[type="color"] {
    appearance: auto;
    width: 40px;
    height: 20px;
    background-color: var(--grey-black);
    cursor: default;
    border: 1px solid #000;
    outline: none;
    padding: 1px 2px;
}

.data-field-input{
    width: 30px;
    background-color: var(--grey-black);
    color: white;
    outline: none;
    border: 1px solid #000;
    border-radius: 2px;
    height: 14px;
    font-size: 14px;
}
.data-field-input:focus {
    outline: 1px solid var(--background-yellow-slicers);
}
#modalColor {
    margin-left: auto;
}
#wireframeContainer {
    margin-left: auto;
}
#fovInput {
    margin-left: 10px;
}
.data-field-input:focus{
    border: 1px solid var(--background-yellow-slicers);
}

.file-tree-container, .data-view-container {
    min-width: 260px;
}

.quick-nav-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.quick-nav-contents {
    width: calc(100% - 50px);
    background-color: var(--grey-black);
}
.quick-nav-elem {
    width: calc(100% - 14px);
    padding: 3px 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
    color: white;
}
.quick-nav-elem:hover {
    background-color: var(--grey-black-hover);
    cursor: pointer;
}
.quick-nav-icon {
    height: 14px;
    width: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    font-size: 12px;
    color: var(--medium-grey-bright);
}
.quick-nav-icon-text {
    height: 14px;
    width: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 7px;
    font-size: 14px;
    font-weight: bold;
    color: var(--medium-grey-bright);
}
.quick-nav-label {

}