@font-face {
    font-family: Eurofont;
    src: url("../../resources/fonts/Hayward-SmBd.eot");
    src: url("../../resources/fonts/Hayward-SmBd.eot?#iefix") format("embedded-opentype"), url("../../resources/fonts/Hayward-SmBd.woff2") format("woff2"), url("../../resources/fonts/Hayward-SmBd.woff") format("woff"), url("../../resources/fonts/Hayward-SmBd.ttf") format("truetype");
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--grey-black);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffce00;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--medium-grey);
}
:root {
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
}
.main-page {
	font-family: 'Eurofont';
    background-color: var(--medium-grey);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-page .spacer {
    height: 5px;
    width: 100%;
}

.main-page .container-top {
    width: 690px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main-page .slicer-img {
    padding-left: 5px;
}
.main-page .container-top__main {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 540px;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.main-page .folder-paths-container {
    height: 130px;
    width: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-page .path-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-page .path-container__header {
    font-weight: normal;
    font-size: 14px;
    color: white;
}
.main-page .path-container__text-field {
    background-color: var(--grey-black);
    border: 1px solid #000;
    border-radius: 2px;
    height: 14px;
    width: 200px;
    color: white;
}
.main-page .path-container__choose-dir-btn {
    background-color: var(--grey-black);
    border: 1px solid #000;
    border-radius: 2px;
    height: 18px;
    color: white;
}
.main-page .path-container__choose-dir-btn:hover {
    background-color: var(--grey-black-hover);
}
.main-page .path-container__choose-dir-btn:focus {
    outline: 1px solid #ffce00;
}
.main-page .path-container__text-field:focus {
    outline: 1px solid #ffce00;
}
.main-page .additional-content {
    height: 130px;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-page .container-bottom {
    width: 690px;
}

.main-page .container-info {
    width: 690px;
    height: 50px;
}
.main-page .container-info__info {
    width: 676px;
    height: 45px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}
.main-page .container-info__header {
    font-weight: normal;
    font-size: 12px;
    color: white;
    padding: 0;
    margin: 0;
}
.main-page .info-link {
    display: flex;
    flex-direction: row;
}
.main-page .container-info__link {
    font-size: 12px;
    color: #0db4d1;
}
.main-page .container-info__link:hover {
    color: #10bfde;
}
.main-page .container-info__link:focus {
    color: #0db4d1;
}

.main-page .app-label {
    color: white;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    background-color: var(--medium-grey);
}
.element-border {border: 1px solid #000;}

.to-file-1 {
    width: 20px; height: 10px;
}
.to-file-2 {
    width: 8px; height: 15px;
}
.to-file-3 {
    width: 19px; height: 10px;
}
.to-file-4 {
    width: 33px; height: 10px;
}
.to-file-5 {
    width: 18px; height: 12px;
}
.to-file-6 {
    width: 12px; height: 12px;
}
.to-file-7 {
    top: -12px;
}
.to-file-8 {
    left: 8px; top: -11px;
}
.to-file-9 {
    left: -25px; top: -10px;
}
.to-file-10 {
    left: -32px; top: -10px;
}
.to-file-11 {
    left: -32px; top: -10px;
}
.to-file-12 {
    top: -10px;
}

/* Log classes */
.main-page .log-terminal {
    position: relative;
    margin-left: 4px;
    width: 272px;
    height: 238px;
}
.main-page .log__display {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #000;
}
.main-page .log__display__2 {
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.main-page .log__display__2__sub {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-grey);
    color: rgb(143, 142, 142);
    font-size: 20px;
}
.main-page .log__item {
    margin-left: 5px;
    margin-top: 5px;
    word-wrap: normal;
    min-height: 16px;
    font-size: 12px;
    font-family: 'Eurofont';
    color: white;
    width: calc(100% - 10px);
}
.main-page .log-extra-container {
    margin-left: 8px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-page .log-extra-funcs {
    width: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-page .log-extra-func {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 2px;
    background-color: var(--grey-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-page .log-extra-func:hover {
    background-color: var(--grey-black-hover);
}
#clearLogBtn {
    font-size: 12px;
    color: white;
}
#clearLogBtn:hover {
    color: red;
    cursor: pointer;
}
#saveLogToFile {
    font-size: 12px;
    color: white;
}
#saveLogToFile:hover {
    color: #ffce00;
    cursor: pointer;
}
#expComprLogBtn {
    font-size: 13px;
    color: white;
}
#expComprLogBtn:hover {
    color: #ffce00;
    cursor: pointer;
}
.log-cursor {
    display: flex;
    flex-direction: row;
}
.cursor-underscore {
    margin-left: 5px;
    animation: blink 1.0s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Custom select */
.custom-select {
    margin-top: 7px;
    position: relative;
    font-size: 12px;
    width: 78px;
}
.custom-select select {
    display: none;
}
.select-selected {
    background-color: var(--grey-black);
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 7px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    color: #ffffff;
    padding: 2px 4px;
    border: 1px solid transparent;
    border-color: 1px solid #000;
    cursor: pointer;
}
.select-items {
    position: absolute;
    background-color: var(--grey-black);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: var(--grey-black-hover);
}
.actions-side > button {
    width: 130px;
}
.action-btn-placeholder {
    display: hidden;
    background-color: transparent;
    border: 1px solid transparent;
    pointer-events: none;
}
.disabled {
    pointer-events: none;
    background-color: #222222;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(177, 177, 177);
}