:root {
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --slicers-yellow: #ffce00;

    --grey-black-alt: #292929;
}

.node-select-background {

}

.node-select-main {
    
}