:root {
	--color-light: #2fa5d4;
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --background-yellow-slicers: #ffce00;
}

.file-browser-header {
    color: white;
    margin: 0px;
    font-family: 'Eurofont';
}

.file-tree-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-tree-body {
    margin-left: 8px;
    align-self: flex-start;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    border-radius: 6px;
    background-color: var(--medium-grey);
    overflow: hidden;
}
.tree-list-container {
    width: 100%;
    height: calc(100% - 53px);
    overflow: scroll;
}
.file-tree-elements {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.view-body {
    height: calc(100% - 20px);
    width: calc(100%);
    background-color: var(--medium-grey);
    border-radius: 6px;
}

.data-view-body {
    margin-right: 8px;
    align-self: flex-end;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    border-radius: 6px;
    background-color: var(--medium-grey);
}
.data-options-main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.data-options-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px;
}
#outputField {
    margin-left: 7px;
}
.data-field-input:focus{
    border: 1px solid var(--background-yellow-slicers);
}
.export-btn {
    padding: 1px 15px;
}

.drag-spacer {
    height: 100%;
    width: 10px;
    cursor: w-resize;
}