:root {
	--color-light: #2fa5d4;
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --background-yellow-slicers: #ffce00;
    --elem-hover: rgb(71, 71, 71);
}

.file-browser-header {
    color: white;
    margin: 0px;
    font-family: 'Eurofont';
}

.file-tree-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-tree-body {
    margin-left: 8px;
    align-self: flex-start;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    border-radius: 6px;
    background-color: var(--medium-grey);
    overflow: hidden;
}
.tree-list-container {
    position: relative;
    width: 100%;
    height: calc(100% - 57px);
    overflow: hidden;

    font-size: 14px;
}
.file-tree-elements {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.view-body {
    height: calc(100% - 20px);
    width: 100%;
    background-color: var(--medium-grey);
    border-radius: 6px;
    overflow: auto;
    position: relative;
}

.data-view-body {
    margin-right: 8px;
    align-self: flex-end;
    height: calc(100% - 20px);
    width: calc(100% - 10px);
    border-radius: 6px;
    background-color: var(--medium-grey);
}
.data-options-main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.data-options-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px;
}
#outputField {
    margin-left: 7px;
}
.data-field-input:focus{
    border: 1px solid var(--background-yellow-slicers);
}
.export-btn {
    padding: 1px 15px;
}

.drag-spacer {
    height: 100%;
    width: 10px;
    cursor: w-resize;
}

/* Gom tree styling */
.file-tree-elements > .node-fam {
    margin: 0px;
    height: auto;
    overflow: auto;
    border-left: none;
}
.file-tree-elements > .node-fam > .node-fam__name {
    padding-left: 7px;
}
.file-tree-elements > .node {
    min-width: calc(100% - 24px);
    padding-left: 24px;
    height: auto;
    overflow: auto;
}
.file-tree-elements > .node-fam > .node-fam {
    min-width: calc(100% - 12px);
    margin-left: 11px;
}
.node-fam {
    min-width: calc(100% - 17px);
    margin-left: 16px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    border-left: 1px solid var(--background-yellow-slicers);
}
.fam-open {
    height: auto;
    overflow: auto;
}
.node-fam__name {
    padding-left: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.node-fam__name:hover {
    cursor: pointer;
    background-color: var(--elem-hover);
}
.node-fam-name {
    margin-left: 7px;
}
.node {
    min-width: calc(100% - 12px);
    padding-left: 12px;
    overflow: visible;
}
.node:hover {
    cursor: pointer;
    background-color: var(--elem-hover);
}

#treeList {
    position: absolute;
    top: 0;
    left: 0;
}

#nav_nodes_scroller {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

#nav_nodes_scrollersize {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#nav_nodes_scrollercon {
    position: absolute;
}

/* Node data view styling */
.node-header {
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 7px;
    top: 0;
    position: sticky;
    background-color: var(--medium-grey);
    border-radius: 4px;
}
mark {
    background-color: transparent;
    color: white;
}
.node-table {
    border: 1px solid var(--background-yellow-slicers);
    border-collapse: collapse;
    background-color: var(--grey-black);
    color: white;
    font-size: 14px;
    margin: 7px;
}
.node-table th, .node-table tr, .node-table td {
    border: 1px solid var(--background-yellow-slicers);
    border-collapse: collapse;
}
.node-table td > div {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.data-entr-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 7px 0px 7px 7px;

    width: calc(100% - 14px);
}
.data-entr-label {
    margin-right: 7px;
}
.data-entr-val {
    color: var(--background-yellow-slicers)
}