:root {
    --tooltip-color: #1a1a1a;
}

/* Tooltip element */
.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Actual tooltip */
.tooltip .tooltip-text {
    font-size: 14px;
    visibility: hidden;
    background-color: var(--tooltip-color);
    color: #fff;
    text-align: center;
    padding: 2px 5px;
    border-radius: 4px;
  
    position: absolute;
    z-index: 5;
  
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}
.tooltip-top {
    bottom: 120%;
}
.tooltip-bottom {
    top: 120%;
}
.tooltip-right {
    left: 120%;
}
.tooltip-left {
    right: 120%;
}
/* Display on hover */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}