@font-face {
    font-family: Eurofont;
    src: url("../fonts/Hayward-SmBd.eot");
    src: url("../fonts/Hayward-SmBd.eot?#iefix") format("embedded-opentype"), url("../fonts/Hayward-SmBd.woff2") format("woff2"), url("../fonts/Hayward-SmBd.woff") format("woff"), url("../fonts/Hayward-SmBd.ttf") format("truetype");
    font-weight: normal;
}

:root {
    --grey-black: #1a1a1a;
    --grey-black-hover: #2b2b2b;
    --medium-grey: #333;
    --background-yellow-slicers: #ffce00;
}

.container-bottom {
    width: 695px;
    height: 275px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.container-bottom__log {
    width: 295px;
    height: 263px;
}
.container-bottom__sub {
    margin-left: 5px;
    width: 135px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-bottom__sub__btn {
    font-family: 'Eurofont';
    background-color: var(--grey-black);
    border: 1px solid #000;
    color: white;
    margin-top: 4px;
    height: 25px;
    width: 103px;
}
.container-bottom__sub__btn:hover {
    background-color: var(--grey-black-hover);
    cursor: pointer;
}
.container-bottom__sub__btn:focus {
    outline: 1px solid #ffce00;
}

.paths-field-input {
    background-color: var(--grey-black);
    color: white;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    height: 16px;
    width: 200px;
    margin-right: 5px;
}
.paths-field-input:focus {
    border: 1px solid var(--background-yellow-slicers);
}

.browse-paths__button {
    background-color: var(--grey-black);
    padding: 4px;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.browse-paths__button:hover {
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}
.browse-paths__button:focus {
    outline: 1px solid #ffce00;
}

.disabled {
    pointer-events: none;
    background-color: #222222;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(177, 177, 177);
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}