@font-face {
    font-family: Eurofont;
    src: url("../../resources/fonts/Hayward-SmBd.eot");
    src: url("../../resources/fonts/Hayward-SmBd.eot?#iefix") format("embedded-opentype"), url("../../resources/fonts/Hayward-SmBd.woff2") format("woff2"), url("../../resources/fonts/Hayward-SmBd.woff") format("woff"), url("../../resources/fonts/Hayward-SmBd.ttf") format("truetype");
    font-weight: normal;
}

.container-bottom {
    width: 695px;
    height: 275px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.container-bottom__log {
    width: 295px;
    height: 263px;
}
.container-bottom__sub {
    margin-left: 5px;
    width: 135px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-bottom__sub__btn {
    font-family: 'Eurofont';
    background-color: var(--grey-black);
    border: 1px solid #000;
    color: white;
    margin-top: 4px;
    height: 25px;
    width: 103px;
}
.disabled {
    pointer-events: none;
    background-color: #222222;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(177, 177, 177);
}
.container-bottom__sub__btn:hover {
    background-color: var(--grey-black-hover);
    cursor: pointer;
}
.container-bottom__sub__btn:focus {
    outline: 1px solid #ffce00;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}